<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2025-07-03 21:28:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2025-07-04 18:59:58
-->

<div class="section-experiences">
  <h3 class="gradient">{{"EXPERIENCES" | translate}}</h3>

  <div class="experiences-list">
    <div *ngFor="let item of xp" class="experience-item">
      <div class="item-header">
        <h4>{{item.title | translate}}</h4>

        <div class="item-date">
          <span>{{(item.endDate ? "FROM" : "SINCE") | translate}} {{item.startDate | translate}}</span>

          <ng-container *ngIf="item.endDate">
            <span>-</span>
            <span>{{"TO" | translate}} {{item.endDate | translate}}</span>
          </ng-container>
        </div>
      </div>

      <b>{{item.company}}</b>

      <div class="item-content">
        <p>{{item.context | translate}}</p>
        <p>{{item.description | translate}}</p>

        <ul>
          <li *ngFor="let dot of item.dots">{{dot | translate}}</li>
        </ul>
      </div>

      <div class="item-skills">
        <b>Stack:</b>

        <p>{{item.stack.join(', ')}}</p>
      </div>
    </div>
  </div>
</div>
