/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-07-04 19:04:08                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-07-05 13:59:37                              *
 ****************************************************************************/

@use "../../../variables.scss" as *;

.section-skills {
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: $pad-small;
    margin-top: $pad-small;
  }
}
