/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-07-05 15:43:46                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-07-05 15:49:45                              *
 ****************************************************************************/

@use "../../../variables" as *;

a {
  display: block;
  transition: transform $trans;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1);
  }

  svg * {
    color: $c-white;
  }
}
