/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-07-07 13:32:46                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-07-07 13:51:15                              *
 ****************************************************************************/

@use "../../../variables.scss" as *;

.section-hobbies {
  h3 {
    margin-bottom: $pad-small;
  }

  .hobbies-list {
    display: flex;
    flex-direction: column;
    gap: $pad-small;

    .hobby-item {
      display: flex;
      align-items: center;
      gap: $pad-small;

      .hobby-icon {
        width: 20px;
      }
    }
  }
}
