/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-07-04 18:46:20                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-07-05 15:21:33                              *
 ****************************************************************************/

@use "../variables.scss" as *;

.content-container {
  display: grid;
  grid-template-columns: 1fr 30px 3fr;
  gap: $pad-med;
  padding: $pad-high;

  .side-content-container {
    display: flex;
    flex-direction: column;
    gap: $pad-light;
  }

  .separator {
    width: 1px;
    background-color: $c-black;
    height: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: $res-med) {
    grid-template-columns: 1fr;

    .separator {
      width: 100%;
      height: 1px;
      order: 2
    }

    .side-content-container {
      order: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $pad-high;

      *:nth-child(2) {
        order: -1;
        grid-row: span 2;
      }
    }
  }
}
