/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-07-04 18:46:20                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-07-05 13:58:54                              *
 ****************************************************************************/

@use "../variables.scss" as *;

.content-container {
  display: grid;
  grid-template-columns: 1fr 30px 3fr;
  gap: $pad-med;
  padding: $pad-high;

  .side-content-container {
    display: flex;
    flex-direction: column;
    gap: $pad-light;
  }

  .separator {
    width: 1px;
    background-color: $c-black;
    height: 100%;
    margin: 0 auto;
  }
}
