/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-07-04 14:22:13                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-07-05 13:59:08                              *
 ****************************************************************************/

@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  font-size: $fs-default;
  font-family: $font-fam;
  color: $c-black;
}

h1 {
  font-size: $fs-h1;
  width: fit-content;
}

h2 {
  font-size: $fs-h2;
  width: fit-content;
}

h3 {
  font-size: $fs-h3;
  width: fit-content;
}

h4 {
  font-size: $fs-h4;
  width: fit-content;
}

.gradient {
  background: $c-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #68B952 3.34%, #52ADB9 66.83%, #5A52B9 94.29%) border-box;
  border: 3px solid transparent;
  transition: $trans;
}

.gradient-border-dark {
  background: linear-gradient(#000, #000) padding-box, linear-gradient(to right, #68B952 3.34%, #52ADB9 66.83%, #5A52B9 94.29%) border-box;
  border: 1px solid transparent;
  transition: $trans;
}
